* {
  margin: 0 auto;
  font-family: serif;
  color: #1a2930;
  font-weight: light;
}
input{
width: 400px;
}

header{
  background-image: url("grungereddiamonds.png");
  text-align: center;
}
h1{
text-align: center;
}

echo{
color: navy;
}

h4{
  text-align: center;
  padding-top: 40px;
}
h3{
  color: white;
  text-shadow: 0px -1px 0px #C0B283;
}

body {
  width: 100%;
  background-image: url("lightgraytexture.png");
  padding-top: 40px;
  padding-bottom: 40px;
}

a{
margin: 0 auto;
}
img{
  display: block;
  width: 55px;
  margin-top: 100px;
}

.assignmentsmenu{
  margin-top: -230px;
}

#assignmentsmain{
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;
  //text-shadow: 0px 1px 0px white;
}

button{
  display: block;
  font-size: 1em;
  background-color: transparent;
  border: none;
  text-align: center;
  padding: 5px;
}
button:hover{
border-bottom: 1px solid black;
}

nav{
  text-decoration: none;
}

#menu{
  visibility: hidden
}

nav ul{
  text-align: center;
  text-decoration: none;
  padding-top: 100px;
  padding-bottom: 200px;
}

nav li {
  display: inline-block;
  margin-right:-5px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  color: darkgray;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

nav li>a:link{
  text-decoration: none;
  color:  #1a2930;
  border-bottom: 1px solid #C0B283;
  border-top: 1px solid #C0B283;
  padding: 20px;
  font-size: 1em;
  text-shadow: 1px 1px 1px #c5c1c0;
  border-radius: 40px;
  
}

nav li>a:visited{
  color: #ab987a;
}

nav li>a:hover{
  text-decoration: underline;
  border-bottom: 3px solid #C0B283;
}

nav li>a:active{
  border-bottom: 1px solid #C0B283;
  border-top: 3px solid #C0B283;
    text-shadow: 1px 1px 1px transparent;
	
}
/* END MAIN NAVIGATION */

main {
  background-color: #0f1626;
  text-align: center;
  width: 100%;
  color: white;
}
main a{
color: white;
}

/* drop down menu */
.dropbtn {
  text-decoration: none;
  color:  white;
  font-size: 1em;
  padding-left: 50px;
  padding-right: 50px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-image: url("lightgraytexture.png");
    min-width: 160px;
    z-index: 1;
	width: 100%;
}

.dropdown-content a {
    color: black;
    padding: 3px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	border-left: 3px solid #C0B283;
	text-shadow: 0px -1px 0px #C0B283;
	}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {

	}

footer{
  background-image: url("grayhash.jpg");
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}
